include ../partials/header.pug
h1 Quiprendquoi ?
section.party
    header
        //h1.title Qui prend quoi ?
        h2 #{party.author} vous invite à :
        h1= party.name
        label(for="url") Partagez l'évènement
        div.link
            input(
                id="url"
                value=`${url}`
                data-clipboard=`${url}`
                data-share-url=`${url}`
                data-share-title=party.name
                data-share-text=party.author + " vous invite a rejoindre l'événement " + party.name )
    div.list
        h3 Liste :
        ul
            each val in party.items
                form(method="post" action=`${url}` + "/items/" + val._id)
                    li
                        h4= "- " + val.name + " (" + val.user + ")"
                        button(type="submit" class="fa fa-trash")
    form(method="post" action=`${url}` + "/items").newParty
        h3 Ajouter un élément à la liste
        div.newParty__fields
            //label(for="name") Nom de l'item
            input(name="name" id="name" required minlength="3" placeholder="Mon produit" )
            //label(for="user") Nom du participant
            input(name="user" id="user" required minlength="2" placeholder="Mon nom")
            button(type="submit") Ajouter

script.
    party = !{JSON.stringify(party)}
